.App {
  background-color: #180851;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.footer {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding-top: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding-bottom: 20px;
}

.button {
  background-color: #b000fc;
  color: white;
  border-radius: 3px;
  transition-duration: 0.4s;
  border: 1px solid #ffffff;
  padding: 3px 5px;

}

.button:hover {
  background-color: #ffffff;
  color: #282c34;
  cursor: grab;
  box-shadow: 0 5px 16px 0 rgba(0, 149, 255, 0.603), 0 10px 25px 0 rgb(140, 0, 255);
}