@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family:"Open Sans";
  background-color: rgb(0, 51, 140);

}
.App {
  background-color: rgb(0, 51, 140);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: "Open Sans";
  color: white;
  padding: 20px;
}

.footer {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding-top: 20px;

  z-index: 1;
  position:fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding-bottom: 5px;
  z-index: 1;
  position:fixed;
  top: 0;
  right: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  
}

.button {
  background-color: #5997e8;
  color: white;
  border-radius: 1px;
  transition-duration: 0.3s;
  border: 2px solid #ffffff;
  padding: 2px 14px;
  font-family: "Open Sans";
  font-size: calc(5px + 2vmin);

}

.button:hover {
  background-color: #ffffff;
  color: #282c34;
  cursor: grab;
  box-shadow: 0 5px 16px 0 rgba(0, 149, 255, 0.603), 0 10px 25px 0 rgb(0, 157, 255);
}


.grow {
  padding: 10px 5px;
}

.grow img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.05s ease;
  }

.border img {
  
  transition: 1s ease;
  }
  
  .border img:hover{
  box-shadow: 0 0 1000px 10px rgb(195, 232, 255);
  transition: 1s ease;
  }

.home {
  padding: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.home-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
  position: relative;


}
.home-intro-text {
  width: 50%;
  margin: auto;
  

}

.link {
  color: rgb(0, 155, 251);
}

/* visited link */
.link:visited {
  color: rgb(195, 232, 255);
}

/* mouse over link */
.link:hover {
  color: rgb(255, 255, 255);
}

/* selected link */
.link:active {
  color: blue;
}

.projects {
  display: flex;
  flex-direction: row;
  padding: 30px;
  flex-wrap: wrap;
  row-gap: 1px;
  gap: 2px;
  justify-content: center;
  
}

.project {
  padding: 2%;
  background-color:#00c3ff3f;
  width:300px;
}

.project {
  
  transition: 1s ease;
  }
  
  .project:hover{
  box-shadow: 0 0 1000px 10px rgb(195, 232, 255);
  transition: 1s ease;
  }

.contact-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

  position: relative;

}

.contact-sections {
  display: flex;
  flex-direction: row;
  gap: '30px';
  text-align: 'left';
  padding-bottom: 40px;
}

.get-in-touch {
  position: fixed;
  margin: auto;

}


.skills-container {
  display: flex;
  justify-content: center; /* Centers the entire table horizontally */
  margin: 0 auto; /* Ensures the container itself is centered */
  padding-top: '100px';
  padding-bottom: '100px';
  align-items: center;
  justify-content: center;
}

.skills {
  display: table;
  border-collapse: collapse; /* Ensures that borders collapse into single lines */
  width: auto; /* Adjusts the table width automatically based on content */
}

.skills-row {
  display: table-row;

}

.skills-col {
  display: table-cell;

  padding: 5px 20px; /* Padding inside each cell */
  text-align: center; /* Centers text horizontally */
  vertical-align: middle; /* Centers text vertically */
}

/* Set a constant width for the left column */
.skills-col.left {
  width: 20%px; /* Adjust this width as needed */
  text-align: right;
}

/* The right column will take the remaining space */
.skills-col.right {
  width: auto; /* Takes up the remaining space */
  text-align: left;
}

.contact-btn {
  background-color: rgb(0, 51, 140);
  border-radius: 12px;
  border: 3px solid rgb(0, 51, 140);
  transition-duration: 0.3s;
  box-shadow: 0 5px 30px 0 rgb(0, 43, 116), 0 5px 40px 0 rgb(0, 30, 82);


}

.contact-btn:hover {
  background-color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  color: #282c34;
  cursor: grab;
  box-shadow: 0 0px 30px 0 rgba(0, 149, 255, 0.603), 0 10px 25px 0 rgb(0, 157, 255);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff; /* Change to your preferred color */
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Change to your preferred color */
  border-radius: 3px;
}

.contact-icon {
  color: rgb(255, 255, 255);
}

.contact-icon-linkedin {
  color: rgb(255, 255, 255);
}

.contact-icon-email {
  color: rgb(255, 255, 255);
}


.contact-btn:hover .contact-icon {
  color: rgb(0, 0, 0);
}

.contact-btn:hover .contact-icon-linkedin {
  color: #0077B5;
}

.contact-btn:hover .contact-icon-email {
  color: rgb(255, 0, 0);
}
